mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`).default;
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=`sprite.svg#${icon.id.replace('-usage', '')}`)

mixin image(path, className, description, attrRole)
  if role
    img(src=require(`images/${path}`).default class=className role= attrRole)
  else
    img(src=require(`images/${path}`).default class=className alt=description)

//- 1. Если нужен role, а не alt:
//- +image(‘path/file.png’, 'class’, ‘’, ‘presentation’)
//- 2. Если не нужен role, но нужен alt, просто опускаем четверный аргумент:
//- +image(‘path/file.png’, 'class’, ‘Описание’)


